<% include ./partials/header %>
<!-- views/profile.ejs -->
    <!-- Sidebar -->
    <div id="wrapper" class="toggled">
        <% include ./partials/navigation %>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h1>Booking Listing</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <a href="#menu-toggle" class="btn btn-secondary btn-primary" id="menu-toggle">Toggle Menu</a>
                <br/><br/>
                <div class="container1">
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>Booking Name</th>
                         <th>Event Name</th>
                        <th>Created event time</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                        <%if(bookingArray.length){%>
                            <% for(let bookingRecord of bookingArray){ %>
                              <tr class="success">
                                <td><%= bookingRecord.local.name; %></td>
                                <td><%= bookingRecord.local.id_event.local.name; %></td>
                                <td><%= bookingRecord.local.created; %></td>
                                <td><a href="/booking/createbooking"> Add</a> / <a href="/booking/edit/<%= bookingRecord._id; %>" > Edit </a> / <a href="/booking/delete/<%= bookingRecord._id; %>" onclick="return confirm('Are you sure?')">Delete</a></td>
                              </tr>
                            <%}%>     
                         <%}else{%>
                             <td colspan="3" style="text-align: center;">No records</td>
                             <%}%>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
  
<% include ./partials/footer %>
